@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
  /* Background */
  --background-primary: #F4F5FB;
  --background-secondary: #FFFF;

  /* Color */
  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;

  /* Content */
  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;
  --always-white: #ffff;

  /* Border */
  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0;
}


* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
}

body {
  background-color: var(--background-primary);
}

.logo {
  margin-top: 25px;
  margin-bottom: 62px;
  display: flex;
  justify-content: center;
}

.content {
  margin-left: 369px;
  margin-bottom: 44px;
}

.link-button {
  font-size: 14px;
  line-height: 16px;
  font-weight: medium;
  color: var(--color-brand);
  text-decoration: none;
}

.title {
  margin-top: 16px;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
}

.add-item {
  margin-left: 369px;
  display: flex;
  gap: 18px;
  margin-bottom: 40px;
}

.add-item-input {
  width: 451px;
  height: 44px;
  border: 2px solid var(--border-primary);
  border-radius: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 18px;
  gap: 8px;
  
}

form {
  display: flex;
  gap: 16px;
}

.add-item-input::placeholder {
  color: var(--content-tertiary);
  line-height: 100px;
  font-weight: 400;
  font-size: 16px;
}

.add-item-input.comTexto {
  border-color: var(--content-tertiary);
}

.btn-add-item {
  border-radius: 12px;
  border: none;
  background-color: var(--color-brand);
  width: 160px;
  height: 44px;
  font-weight: 600;
  color: var(--always-white);
}

.list{
  background-color: var(--background-secondary);
  width: 627px;
  height: 49px;
  margin-left: 369px;
  border-radius: 12px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
 }

.items{
  display: flex;
  gap: 12px;
  margin-left: -24px;
}

span {
  margin-left: 12px;
  margin-right: 430px;
}









































.alert {
  margin-left: 675px;
  margin-bottom: 137px;
  background-color: var(--color-danger);
  width: 627px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  position: fixed;
  bottom: 0;
  left: 0;
}

.alert img {
  margin-left: 16px;
  margin-right: 16px;
}

.alert-content {
  position: relative;
  right: 170px;
  font-size: 16px;
  color: var(--always-white);
  line-height: 20px;
}